body {
	background-color: #36454f;
}

th {
	font-size: 20px;
	text-align: center;
	background-color: #96c8a2;
}

.card-heading, h4 {
	font-size: 30px;
	text-align: center;
	background-color: #e5d9e0;
}

td {
	text-align: center;
	font-size: 16px
}

label {
	font-size: 16px;
}

.jumbotron, #submitButton {
	background-color: #d9ebdd;
}

.btn {
	font-size: 20px;
	text-align: center;
}

